<div class= "jumbotron center">
  <h1> Welcome to My Recipes</h1>
  <h2> A fun place to share and collect food ideas!</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger  btn-lg  btn-xlg" %></p>
</div>


<!-- Three columns of text below jumbotron-->
<div class="row">
 <div class="col-lg-4">
   <%= image_tag "aperitif.png", class: "teaser-image"  %>
   <p><h2>Aperitifs</h2></p>
   <p>Cocktails and Nibbles</p>
   <p><a class="btn btn-lg btn-xlg" href="#" role="button">Get ideas &raquo;</a></p>
 </div><!-- /.col-lg-4 -->
 <div class="col-lg-4 ">
   <%= image_tag "mains.png", class: "teaser-image" %>
   <h2>Mains</h2>
   <p>Delicious main meals</p>
   <p><a class="btn btn-lg btn-xlg" href="#" role="button">Get ideas &raquo;</a></p>
 </div><!-- /.col-lg-4 -->
 <div class="col-lg-4">
   <%= image_tag "pudding.png", class: "teaser-image" %>
   <h2>Desserts</h2>
   <p>Saving the best for last</p>
     <p><a class="btn btn-lg btn-xlg" href="#" role="button">Get ideas &raquo;</a></p>
 </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
