<div class= "jumbotron center">
  <h1> Welcome to My Recipes</h1>
  <h2> A fun place to share and collect food ideas!</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger  btn-lg  btn-xlg" %></p>
</div>


<!-- Three columns of text below the carousel -->
<div class="row">
 <div class="col-lg-4">
   <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Aperitif and cocktail" width="140" height="140">
   <h2>Starters</h2>
   <p>Pre-dinner Apperitif and Cocktails</p>
   <p><a class="btn btn-lg btn-xlg" href="#" role="button">Get ideas &raquo;</a></p>
 </div><!-- /.col-lg-4 -->
 <div class="col-lg-4">
   <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
   <h2>Mains</h2>
   <p>Delicious main meals</p>
   <p><a class="btn btn-lg btn-xlg" href="#" role="button">Get ideas &raquo;</a></p>
 </div><!-- /.col-lg-4 -->
 <div class="col-lg-4">
   <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
   <h2>Desserts</h2>
   <p>Saving the best for last</p>
     <p><a class="btn btn-lg btn-xlg" href="#" role="button">Get ideas &raquo;</a></p>
 </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
