$navbar-default-bg: #4d004d;


@import "bootstrap-sprockets";
@import "bootstrap";

.center{
  text-align: center;
  color: #fff;
  }

.jumbotron{
  background-image: asset-url('cover_image.png');
  background-size: cover;
  }

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: normal;
  font-weight: bold;
}

#logo:hover {
  color: #707fef;
  text-decoration: underline;
}

.btn-xlg {
  background-color: #4d004d;
  border-color: #fff;
  color: #fff
}

.btn-xlg:hover {
  background-color: #707fef;
  border-width: medium ;
  border-color: #4d004d;
  color: #4d004d;
  font-weight: bold;
}

.col-lg-4 {
  width: 33.33333333%;
  text-align: center;
}

.teaser-image{
  height: 140px;
  width: auto;
  border-radius: 25%;
  align-content: center;
}

.footer{
  height: 50px;
  background-color: #4d004d;
  padding-top: 10px;
  color: #fff;
  margin-top: 80px;
}

.C-C1{
  color: #4d004d
}

.C-C2{
  color: #707fef
}

.C-C3:hover{
  color: #707fef
}
