<footer class="footer footer-default">
  <div class="container bottom">
  <div class="pull-right"><a href="#">Back to top</a></div>
  <p>&copy; Designed by Deanna &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </div>
</footer>
